.error-container{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    overflow: hidden;
}


@media(max-width:500px){
    .error-img{
        width: 100%;
      
    }
}